@import url('https://fonts.googleapis.com/css?family=Noto+Sans&display=swap');

html {
  height: 100%;

  --color-1: #F25422;
}
body {
  margin: 0;
  padding: 0;
  height: 100%;
}
#content {
  position: relative;
  min-height: 100%;
}

* {
  box-sizing: border-box;
  font-family: 'Noto Sans', sans-serif;
}
a {
  text-decoration: none;
  color: #000;
}
a.active {
  color: var(--color-1);
}
select:active, select:focus{
  outline:none;
  border: none;
}
input {
  outline: none;
}

.bkg-img,
.bkg-img:before,
.bkg-img:after {
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 50%;
}

.mark-text {
  color: #F25422;
}

.bkg-cover {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(241, 240, 240, 0.5);
  backdrop-filter: blur(20px);
  z-index: 100;
  display: flex;
}

.radio {
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 100px;
  border: 0.5px solid rgba(0,0,0,0.6);
  margin-right: 10px;
}
.radio:before {
  content: '';
  display: block;
  width: 8px;
  height: 8px;
  background-color: #F25422;
  border-radius: 100px;
  position: relative;
  top: 5px;
  left: 5px;
}
input:not(:checked) + .radio:before {
  display: none;
}
input:checked ~ * {
  color: #F25422;
}

.main__path {
  margin: 0 0 30px 20px;
}
.main__path,
.main__path a {
  color: #F25422;
}

.main__text {
  padding: 0 20px;
}
