<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <title>index</title>
  </head>
  <body>
    <ol>
      <li><a href="./main-1/?page=main">main</a></li>
      <li><a href="./main-1/?page=mobile-search">mobile-search</a></li>
      <li><a href="./main-2/?page=more">more</a></li>
      <li><a href="./main-2/?page=login-popup">login-popup</a></li>
      <li><a href="./main-2/?page=signup">signup</a></li>
      <li><a href="./main-2/?page=signup-ok">signup ok</a></li>
      <li><a href="./main-2/?page=results">results</a></li>
      <li><a href="./main-2/?page=account">account</a></li>

      <li><a href="./main-2/?page=about">about</a></li>
      <li><a href="./main-2/?page=buyer">buyer</a></li>
      <li><a href="./main-2/?page=seller">seller</a></li>
      <li><a href="./main-2/?page=contribution">contribution</a></li>
      <li><a href="./main-2/?page=privacy">privacy</a></li>
    </ol>
  </body>
</html>
