<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <link rel="stylesheet" type="text/css" href="../../common/css/style.css"/>
    <link rel="stylesheet" type="text/css" href="../main.css"/>
    <title>{{ title }}</title>
  </head>
  <body><div id="content">

    <div class="main__header main__header_alt-1">
      <div class="main__header__left">
        <a href="##"><img src="../../common/img/main-logo-mid.png"/></a>
      </div>

      <div class="main__header__input">
        <div><input type="text"/><a href="##"><img src="../../common/svg/search-icon.svg"/></a></div>
        <a href="##"><img src="../../common/img/flag-ru.png"/></a>
      </div>

      <div class="main__header__right">
        <a class="main__header__signin bkg-img" href="##">Вход</a>
      </div>
    </div>

    <div class="main__header main__header_mobile">
      <div class="main__header__left">
        <a href="##">Покупателю</a>
        <span>|</span>
        <a href="##">Поставщику</a>
        <div class="main__header__left__location"><a href="##"><img src="../../common/img/flag-ru.png"/></a></div>
      </div>

      <div class="main__header__right">
        <a class="main__header__signin bkg-img" href="##">Вход</a>
      </div>

      <div class="main__header__input">
        <a href="##"><img class="logo" src="../../common/img/main-logo-small.png"/></a>
        <div><input type="text"/><a href="##"><img src="../../common/svg/search-icon.svg"/></a></div>
      </div>
    </div>

    <div class="main__content">
      {{ content }}
    </div>

    <div class="main__footer">
      <div class="main__footer__links">
        <a href="##">О сервисе</a>
        <a href="##">Сотрудничество</a>
        <a href="##">Конфиденциальность</a>
        <a href="##">Контакты</a>
      </div>

      <div class="main__footer__label">Powered by  Sixhands</div>
    </div>
  </div></body>
</html>
